:root {
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --white: #ffffff;
    --black: #000000;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    font-family: "Quicksand", sans-serif;
  
  
    margin: 0;
  }

  header {
    justify-self: center;
    background-color: var(--dark);
    color: var(--white);
    margin-bottom: 24px;
    padding: 24px;

  }

.calculator {
  margin: 24px;
  border-radius: 12px;
  background-color: var(--very-light-pink);
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 480px);
  gap: 26px;
  place-content: center;
}

.calculator section {
  background-color: papayawhip;
  padding: 8px;
  margin-bottom: 12px;
}

.calculator section form {
  display: flex;
  flex-direction: column;
  justify-content:  space-around;
}

.input {
  margin-bottom: 4px;
}

.primary-button {
  background-color: var(--hospital-green);
  padding: 8px;
  color: var(--white);
  margin-top: 8px;
  margin-bottom: 12px;
  border: none;
  border-radius: 8px;
  width: 100%;
}


.porcentajes {
  background-color: var(--text-input-field);
  width: 50%;
  min-width: 450px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  margin-top: 12px;
  margin-bottom: 20px;


}



.label {
 font-weight: bold;
 margin-bottom:4px ;
  
}

.input {
  background-color: var(--white);
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 16px;
  text-align: center;
}

.input::placeholder {
  color: var(--very-light-pink);
}

.resultado {
  background-color: var(--white);
  border: none;
  border-radius: 8px;
  padding: 4px 2px 4px 2px;
  margin-top: 12px;
  text-align: center;
  font-size: var(--sm);

}

.resultado p {
  line-height: 1.2;
 
}

.estadisticas {
  background-color: var(--text-input-field);
 
  min-width: 450px;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 12px;
  margin-top: 12px;
  margin-bottom: 40px;


}
.input-simple-data {
  padding: 12px;
  width: 70%;
  display: flex;
  flex-direction: column;


}

.botones {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 12px;
  justify-content: flex-end;
  align-items: stretch;
}

.promedios {
  width: 50%;
  min-width: 450px;
  justify-self: center;
}




